body {
    background-color: white;
    font-family: 'Kufam', cursive;
}

header {
    background-color: #52585e;
}
header > h1 {
    padding: 15px;
    font-size: 6em;
    color: white;
    margin-block-start: 5px;
    margin-block-end: 0px;
}

nav {
    padding: 10px;
}
a {
    color: #5cc3c4;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
}
nav > a:hover {
    background-color: #52585e;
    text-decoration: underline;
}
form {
    float: right;
}
button {
    color: #5cc3c4;
    background-color: #52585e;
}
button:hover {
    color: #52585e;
    background-color: #5cc3c4;
}

main {
    margin-top: 0px;
}
h1 {
    font-size: 4em
}
p, li {
    padding-left: 25px;
    font-size: 36px;
}
.center {
    margin-left: 300px;
    margin-right: 300px;
}
.main-right {
    float: right;
    width: 15%;
}
.main-left {
    float: left;
    width: 15%;
}
.main-center {
    margin: auto;
    width: 70%;
    padding: 5px;
}
#join {
    font-size: 3em;
    position: absolute;
    margin-right: auto;
    margin-top: 200px;
    margin-left: 700px;
    border-radius: 50%;
    padding: 15px;
}
table {
    font-size: 3em;
    border: 5px solid black;
    width: 100%;
}
thead {
    text-decoration: underline;
}
td {
    width: 40%;
    text-align: center;
    font-size: 24px;
    height: 60px;
}
.vibrant-blue {
    background-color: #5CC3C4;
}
.vibrant-coral {
    background-color: #D9834E;
}
.pastel-blue {
    background-color: #9FCDCE;
}
.pastel-coral {
    background-color: #DFB093;
}
.bold {
    font-weight: bold;
    width: 20%;
    text-align: center;
}
footer > h6 {
    color: #5cc3c4;
    text-align: center;
}
img {
    width: 80%;
    padding: 15px;
    margin-top: 25px;
}
div > a {
    display: block;
    align-content: center;
    text-align: center;
}