body {
    background-color: white;
    font-family: 'Kufam', cursive;
}

header {
    background-color: #52585e;
}
header > h1 {
    padding: 15px;
    font-size: 6em;
    color: white;
    margin-block-start: 5px;
    margin-block-end: 0px;
}

nav {
    padding: 10px;
}
a {
    color: #5cc3c4;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
}
a:hover {
    background-color: #52585e;
    text-decoration: underline;
}
form {
    float: right;
}
button {
    color: #5cc3c4;
    background-color: #52585e;
}
button:hover {
    color: #52585e;
    background-color: #5cc3c4;
}

main {
    margin-top: 0px;
}
h1 {
    font-size: 4em
}
p, li {
    padding-left: 25px;
    font-size: 36px;
}
img {
    width: 150px;
    height: auto;
    border: 3px solid black
}
#flash {
    position: absolute;
    margin-top: 0;
    left: 8px;
}
#orb {
    position: absolute;
    margin-top: 150px;
    left: 8px;
}
#dash {
    position: absolute;
    margin-top: 300px;
    left: 8px;
}
#sonic {
    position: absolute;
    margin-top: 450px;
    left: 8px;
}
.center {
    margin-left: 300px;
    margin-right: 300px;
}
.main-right {
    float: right;
    width: 15%;
}
#finish {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    font-size: 5em;
    padding: 15px;
    background-color: red;
    height: 550px;
}
.main-left {
    float: left;
    width: 15%;
}
#start {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    font-size: 6em;
    padding: 15px;
    background-color: green;
    height: 550px;
}
.race {
    display: none;
}
.main-center {
    margin: auto;
    width: 70%;
    padding: 5px;
}
#race-start {
    font-size: 3em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
}
table {
    font-size: 3em;
    border: 5px solid black
}
thead {
    text-decoration: underline;
}
td {
    border: 5px solid black;
}
#first{
    visibility: visible;
}
#second{
    visibility: visible;
}
#third{
    visibility: visible;
}
#fourth{
    visibility: visible;
}
footer > h6 {
    color: #5cc3c4;
    text-align: center;
}